@model List<BlogDAL.Core.Makale>

<h2>Tüm Makaleler</h2>

@foreach (var m in Model)
{
    <div style="border-radius:10px; background-color:#eeeeee; padding:10px; margin:5px">
        <h3 style="color:red">@m.Baslik</h3>
        @*@m.Icerik*@
        @Html.Raw(@m.Icerik)
        <strong>Tarih : @m.Tarih</strong>
    </div>
}

